@font-face {
  font-family: "ReformaGroteskDemiC";
  font-display: swap;
  src: url("../fonts/ReformaGroteskMediumC.woff") format("woff"), url("../fonts/ReformaGroteskMediumC.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ReformaGroteskDemiC";
  font-display: swap;
  src: url("../fonts/ReformaGroteskDemiC.woff") format("woff"), url("../fonts/ReformaGroteskDemiC.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono";
  font-display: swap;
  src: url("../fonts/RobotoMono-Medium.woff") format("woff"), url("../fonts/RobotoMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono";
  font-display: swap;
  src: url("../fonts/RobotoMono-Bold.woff") format("woff"), url("../fonts/RobotoMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMono";
  font-display: swap;
  src: url("../fonts/RobotoMono-Regular.woff") format("woff"), url("../fonts/RobotoMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ReformaGroteskDemiC";
  font-display: swap;
  src: url("../fonts/ReformaGroteskBoldC.woff") format("woff"), url("../fonts/ReformaGroteskBoldC.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

html,
body {
  background-color: #1A1A1A;
  overflow-x: hidden;
  font-family: 'RobotoMono';
  color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1672px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.top-block {
  position: relative;
  z-index: 4;
  background: #1A1A1A;
}

.top-block .top-block__wrapper {
  height: 46px;
  padding: 11px 0 11px 32px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400vh;
  border-bottom: 2px solid #2E2E2E;
}

.top-block .top-block__item {
  margin-right: 56px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FEA520;
}

header picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container {
  margin-top: 32px;
  margin-bottom: 56px;
}

header .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1221px;
  width: 100%;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 810px;
  margin-left: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

header .header-menu li {
  list-style-type: none;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

header .header-menu a {
  color: #ffffff;
}

header .header-menu a:hover {
  color: rgba(254, 165, 32, 0.6);
}

header .header-menu .menu__active {
  color: #FEA520;
  position: relative;
}

header .header-menu .menu__active a {
  color: #FEA520;
}

header .header-menu .menu__active:after {
  content: '/';
  margin-left: 8px;
}

header .header-menu .menu__active:before {
  content: '/';
  margin-right: 8px;
}

.hero {
  position: relative;
}

.hero .circle {
  width: 160px;
  height: 160px;
  background: -webkit-gradient(linear, left top, left bottom, from(#929292), to(rgba(146, 146, 146, 0)));
  background: -o-linear-gradient(top, #929292 0%, rgba(146, 146, 146, 0) 100%);
  background: linear-gradient(180deg, #929292 0%, rgba(146, 146, 146, 0) 100%);
  position: absolute;
  top: -154px;
  right: 0;
  border-radius: 50%;
  z-index: 1;
}

.hero .container {
  position: relative;
}

.hero .hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero h1 {
  font-family: 'ReformaGroteskDemiC';
  font-weight: 600;
  font-size: 72px;
  line-height: 96px;
  width: 461px;
  text-transform: uppercase;
  color: #FEA520;
  margin-top: 32px;
  position: relative;
  z-index: 2;
}

.hero .hero__img1 {
  position: absolute;
  top: 160px;
  left: 0;
  z-index: 1;
}

.hero .hero__img2 {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  margin-left: 20px;
}

.hero p {
  max-width: 436px;
  width: 100%;
  font-size: 18px;
  line-height: 32px;
  position: absolute;
  z-index: 2;
  top: 48%;
  left: 26.9%;
}

.main {
  margin-top: 44px;
}

.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .main__table {
  max-width: 1204px;
  width: 100%;
  margin-right: 32px;
}

.main .table__item {
  border-top: 2px solid #ffffff;
  padding-top: 14px;
  margin-bottom: 24px;
}

.main .table__item-title {
  font-weight: 600;
  font-size: 52px;
  line-height: 64px;
  font-family: 'ReformaGroteskDemiC';
  text-transform: uppercase;
  color: #FFFFFF;
}

.main .table__item-title:hover {
  color: #FEA520;
}

.main .table__item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .table__item-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main .table__item-column a {
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.main .table__item-column a:last-child {
  margin-bottom: 0;
}

.main .table__item-column a:hover {
  color: #FEA520;
}

.main .table__item-text {
  margin-top: 14px;
  max-width: 790px;
  font-size: 18px;
  line-height: 32px;
}

.main .contact-us {
  padding-top: 14px;
  border-top: 2px solid #FFFFFF;
}

.main .right-block {
  max-width: 380px;
  width: 100%;
}

.main li {
  list-style-type: none;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.main li a {
  color: #FEA520;
}

.main li:last-child {
  margin-bottom: 0;
}

.main h2 {
  font-family: 'ReformaGroteskDemiC';
  font-weight: 600;
  font-size: 52px;
  line-height: 64px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.main .news {
  margin-top: 72px;
  padding-top: 14px;
  border-top: 2px solid #FFFFFF;
}

.main picture {
  margin-bottom: 16px;
}

.main .news__item {
  max-width: 409px;
  width: 100%;
  max-height: 294px;
  height: 100%;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.hamburger-menu {
  display: none;
  position: relative;
}

.hamburger-menu #menu__toggle {
  opacity: 0;
}

.hamburger-menu #menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-menu #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.hamburger-menu #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hamburger-menu #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  top: 0;
}

.hamburger-menu .menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 1;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  padding: 7px;
}

.hamburger-menu .menu__btn > span,
.hamburger-menu .menu__btn > span::before,
.hamburger-menu .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: #FFFFFF;
  -webkit-transition-duration: .25s;
       -o-transition-duration: .25s;
          transition-duration: .25s;
}

.hamburger-menu .menu__btn > span::before {
  content: '';
  top: -6px;
}

.hamburger-menu .menu__btn > span::after {
  content: '';
  top: 6px;
}

.hamburger-menu .menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  width: 400px;
  border-radius: 8px;
  right: 0;
  margin-top: 70px;
  list-style: none;
  background-color: #FFFFFF;
  z-index: 20;
  -webkit-transition-duration: .25s;
       -o-transition-duration: .25s;
          transition-duration: .25s;
}

.hamburger-menu .hamburger-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  line-height: 21px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: #262728;
  text-transform: uppercase;
}

.hamburger-menu .hamburger-menu__item:hover {
  color: rgba(254, 165, 32, 0.6);
}

.hamburger-menu .active {
  color: #fea520;
}

.channels .hero h1 {
  width: 475px;
}

.pgp {
  background: url("../img/pgp.svg");
  width: 792px;
  height: 671px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pgp .pgp__text {
  max-width: 626px;
  width: 100%;
  overflow-x: hidden;
  height: 236px;
  position: absolute;
  top: 138px;
  left: 91px;
}

.pgp .pgp__text .pgp__text-hash {
  margin-bottom: 75px;
}

.pgp .pgp__text p {
  font-size: 18px;
  line-height: 32px;
  word-break: break-word;
}

.pgp .pgp__text::-webkit-scrollbar {
  width: 4px;
}

.pgp .pgp__text::-webkit-scrollbar-track {
  margin-left: 10px;
}

.pgp .pgp__text::-webkit-scrollbar-thumb {
  background: #8F8F8F;
  height: 72px;
}

.pgp .pgp__wrapper {
  position: relative;
  height: 100%;
}

.pgp .pgp__info {
  position: absolute;
  max-width: 658px;
  bottom: 40px;
  left: 67px;
  font-size: 18px;
  line-height: 32px;
}

.pgp .pgp__info-btn {
  outline: none;
  border: 1px solid #FFFFFF;
  height: 80px;
  width: 100%;
  margin-top: 24px;
  background: transparent;
  cursor: pointer;
  background-image: url("../img/pgp-circles.svg");
  background-repeat: no-repeat;
  background-position-x: 102px;
  background-position-y: 6px;
}

@media all and (max-width: 1200px) {
  .hero .hero__img1 {
    display: none;
  }

  .hero p {
    position: initial;
  }

  .hero .hero__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .hero .hero__img2 {
    margin-left: 0;
  }

  .hero picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 462px;
  }

  .hero .hero__left-block {
    width: 50%;
  }

  .main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main .right-block {
    margin-top: 70px;
    max-width: none;
  }

  .main .news__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .main .news__item {
    max-width: 550px;
    height: auto;
    max-height: none;
  }
}

@media all and (max-width: 980px) {
  .hero .hero__img2 {
    display: none;
  }

  .hero .hero__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero h1 {
    width: 100%;
    max-width: none;
  }

  .hero .hero__left-block {
    width: 100%;
  }

  .hero p {
    width: 100%;
    max-width: none;
  }

  .hero .circle {
    display: none;
  }
}

@media all and (max-width: 800px) {
  .main .table__item__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .main .table__item-column {
    margin-top: 16px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media all and (max-width: 780px) {
  * {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  header .header-menu {
    display: none;
  }
}

@media all and (max-width: 540px) {
  header .container {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  header .header__wrapper img {
    max-width: 60px;
    width: 100%;
    height: auto;
  }

  .hero h1 {
    font-size: 28px;
    line-height: 28px;
    margin-top: 0;
  }

  .hero p {
    margin-top: 14px;
    font-size: 14px;
    line-height: 28px;
  }

  .main h2 {
    font-size: 28px;
    line-height: 28px;
  }

  .main li {
    margin-bottom: 14px;
  }

  .main .table__item-title {
    font-size: 28px;
    line-height: 30px;
  }

  .main .table__item-column a {
    font-size: 16px;
    line-height: 18px;
  }

  .main .table__item-text {
    font-size: 14px;
    line-height: 28px;
  }

  .top-block .top-block__item {
    margin-right: 36px;
    font-size: 16px;
    line-height: 18px;
  }

  .hamburger-menu .menu__btn {
    width: 38px;
    height: 38px;
    padding: 5px;
  }

  .hamburger-menu .menu__btn > span,
  .hamburger-menu .menu__btn > span::before,
  .hamburger-menu .menu__btn > span::after {
    width: 26px;
  }
}

@media all and (max-width: 454px) {
  .hamburger-menu .menu__box {
    width: 300px;
  }
}